/*------------------------------------------------------------------
[Main Stylesheet]

Author:	WREP
Version:	1.1
Created:	8 Agustus 2018

#1.1
8 Januari 2018
Template:	PRINT MEDIA
-------------------------------------------------------------------*/
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}

/* ---------- HEADER DAN NAVBAR ---------- */
#header .navbar{
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#header .navbar .navbar-brand{
    font-weight: 700;
}
#header a{
    color: #000;
    text-decoration: none;
    transition: all 0.5s;
}
#header a:hover{
    color: #F9A825;
    transition: all 0.5s;
}
#header .navbar .navbar-nav li{
    padding: 0 10px;
}
#header .navbar .navbar-nav .btn-custom{
    border-radius: 30px;
    color: #000;
    width: 150px;
    text-align: center;
}
#header .navbar .navbar-nav .btn-signin:hover{
    color: #F9A825;
    transition: all 0.5s;
}
#header .navbar .navbar-nav .btn-signup{
    border: 1px solid #F9A825;
    transition: all 0.5s;
    color: #F9A825;
}
#header .navbar .navbar-nav .btn-signup:hover{
    background: #F9A825;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
    color: #fff;
    font-weight: 700;
}

/* ---------- SEARCH ENGINE ---------- */
#search-engine{
    background-color: #F9A825;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    padding: 20% 0;
}
#search-engine h2{
    font-weight: 700;
    text-transform: uppercase;
}
#search-engine .search{
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.default-div{
    padding: 100px;
}
.default-heading h3{
    margin-bottom: 50px;
    font-weight: 700;
}
/* ---------- ABOUT ---------- */
#about h3{
    color: #F9A825;
    font-weight: 700;
    margin-bottom: 10px;
}
#about img{
    width: 100%;
    height: 100%;
}
#about p{
    text-align: left;
}

/* ---------- PEMESANAN ---------- */
#pemesanan{
    background: #262626;
    text-align: center;
    color: #fff;
}
#pemesanan .promo{
    color: #F9A825;
}
#pemesanan .pemesanan-image{
    margin: 25px 0;
}
#pemesanan .pemesanan-text h4{
    font-weight: 700;
}

/* ---------- MITRA ---------- */
#mitra{
    background: url('/printmedia-beta/asset/home/img/background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
#mitra h3{
    margin-bottom: 10px;
    font-weight: 700;
}
#mitra p{
    padding-right: 50px;
}
#mitra .btn{
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    margin: 25px 0;
}

/* ---------- MITRA ---------- */
#blog{
    background: #f5f5f5;
}
#blog .card{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#blog .card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#blog h3{
    text-align: center;
}
#blog .card-body .badge{
    margin-bottom: 10px;
    margin-top: 0;
}
#blog .card-body h4{
    font-weight: 700;
    text-transform: uppercase;
}

/* ---------- FOOTER ---------- */
#footer{
    background: #F9A825;
    padding: 5px;
    font-weight: 300;
    line-height: 50px;
}
#footer .container-custom{
    border-top: 1px solid #bb7a12;
    line-height: 50px;
}
#footer ul{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style: none;
}
#footer ul li{
    margin: 0 10px;
}
#footer ul li a{
    text-decoration: none;
    color: #000;
}
#footer ul li a:hover{
    color: #fff;
}

/* ---------- 
AUTHENTICATION - LOGIN DAN REGISTER
---------- */
#auth{
    padding: 100px 0 0;
}
#auth .card{
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#auth .card h4{
    margin: 20px 0;
}
#auth .card input{
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#auth .card .tambahan{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#auth .card .tambahan a{
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
#auth .card p a:hover{
    font-weight: 700;
    color: #F9A825;
}
#auth .card .btn-auth{
    font-weight: 700;
    border-radius: 30px;
    color: #F9A825;
    width: 150px;
    text-align: center;
    background: #fff;
    border: 1px solid #F9A825;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    transition: all 0.5s;
}
#auth .card .btn-auth:hover{
    font-weight: 700;
    color: #fff;
    background: #F9A825;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
}
#auth .auth-footer{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0;
    line-height: 50px;
}
#auth .auth-footer .garis{
    border-top: 1px solid #dadada;
}